bitrix/activities/bitrix/
bitrix/admin
bitrix/blocks
bitrix/cache
bitrix/components/bitrix
bitrix/css
bitrix/gadgets/bitrix
bitrix/gadgets/acrit
bitrix/html_pages
bitrix/image_uploader
bitrix/images
bitrix/js
bitrix/managed_cache
bitrix/stack_cache
bitrix/modules
bitrix/otp
bitrix/panel
bitrix/sounds
bitrix/services
bitrix/template
bitrix/templates
bitrix/themes
bitrix/tmp
bitrix/tools
bitrix/wizards
bitrix/php_interface
bitrix/updates
bitrix/*.php

node_modules
sitemap*.xml
upload

*.dt
*.DS_Store
.idea/*
.local
*.log
.idea
*.phpunit.result.cache
*.sql
*.txt
!robots.txt